body {
	align-items: center;
	align-content: center;
	text-align: center;
	margin: 0 auto;
	padding: 30px;
	background-color: #ffffff;
}

img {
	width: 25vw;
	height: 40vh;
}

h1 {
	font-size: 8vh;
}

p {
	font-size: 5vh;
}